.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 20px;
}
.header-left {
    display: flex;
}
.header-search {
    display: flex;
    align-items: center;
    padding: 10px;
    color: grey;
    background-color: #eef3f8;
    border-radius: 5px;
    height: 22px;
}
.header-search > input {
    border: none;
    outline: none;
    background: none;
}
.header-left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header-right {
    display: flex;
}
